<%- include("header") -%>

<h1> <%= listTitle %> </h1>

<ul>
    <% for (var i=0; i<newListItems.length; i++) { %>
        <li> <%= newListItems[i] %> </li>
   <% } %>
</ul>

<form class="" action="/" method="post">
    <input type="text" name="newItem" autocomplete="off">
    <button type="submit" name="list" value=<%= listTitle %>>Add</button>
</form>
   
<%- include("footer") -%>